<!DOCTYPE html>
<html>
<body>

<h2>Link Form</h2>

<form action="/api-call" method="post">
  <label for="fname">Link:</label><br>
  <input type="text" id="fname" name="link" value=""><br><br>
  <button type="submit">Submit</button>
</form> 

<a href="/">back</a>

</body>
</html>
